.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
    width: 50%;
    margin: auto;
    box-shadow: 0 0 1rem rgba(0,0,0.2);
    margin-top: 1rem;
  
}
img{
    margin: 0.6rem;
border-radius: 10%;
height: 20rem;

}